<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="key" type="hidden" content = "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDfs1/wLxKKElztd2LKni3qHxrsW8y5xGNt8lYpxDSVObh1fkD9Cy3UfWi5J6ihppwU8GnIQXV7xa2KewOJzAG/9sDuVAeDHp79FAI6yAw0Q7UJ4HYOHF55HaQZqdW8WFsEV8cB5KChUMeOpRi31vSGC039bpJfyo/7cfFTvGzphQIDAQAB">
		<meta name="csrf-token" content="{{ csrf_token() }}">
		<title>登录</title>
	</head>
	<link rel="stylesheet" type="text/css" href="//staticcdn.yhctech.com/static/css/9a94e9f705a498511e5ca8d40e7793fbc7cffd80.css"/>
	<link rel="stylesheet" type="text/css" href="//staticcdn.yhctech.com/static/css/5d43df65bedfde5fce09e4c43c504a83d2ba10cc.css"/>
	<body>
		<div class="wrap">
			<div class="logo"></div>
			<div class="content">
				<ul>
					<li>
						<div class="warning_wrap">
							<p class="warning">手机号格式不正确</p>
						</div>
						<div class="input_wrap">
							<img class="icon" src="//staticcdn.yhctech.com/static/img/946da14e0dfeeb620bb686edcb4c2065b7744f65.png" />
							<input class="phone" maxlength="11" type="text" placeholder="手机号" />
						</div>
						<span class="warning_img"></span>
					</li>
					<li>
						<div class="warning_wrap">
							<p class="warning">密码长度8-20位,字母开头,包含数字</p>
						</div>
						<div class="input_wrap">
							<img class="icon" src="//staticcdn.yhctech.com/static/img/8c1f61687935995fc93321b8d1510ca90ba44550.png" />
							<input class="password" maxlength="20" type="password" placeholder="密码" />
						</div>
						<span class="warning_img nub_img"></span>
					</li>
				</ul>
				<div class="content_food">
					<a href="">立即注册</a>
					<a href="">忘记密码</a>
				</div>
			</div>
			<div class="btn confirm">

			</div>
		</div>
	</body>
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="//staticcdn.yhctech.com/lib/js/passport_h5_add.js" type="text/javascript" charset="utf-8"></script>
	<script src="//staticcdn.yhctech.com/lib/js/passport_h5_jsencrypt.js" type="text/javascript" charset="utf-8"></script>
	<script src="//staticcdn.yhctech.com/static/js/a4af3e5a120719f7f8704a3efe98aedf1d7c2255.js" type="text/javascript" charset="utf-8"></script>

</html>
