<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="csrf-token" content="{{ csrf_token() }}">
		<meta name="key" type="hidden" content = "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDfs1/wLxKKElztd2LKni3qHxrsW8y5xGNt8lYpxDSVObh1fkD9Cy3UfWi5J6ihppwU8GnIQXV7xa2KewOJzAG/9sDuVAeDHp79FAI6yAw0Q7UJ4HYOHF55HaQZqdW8WFsEV8cB5KChUMeOpRi31vSGC039bpJfyo/7cfFTvGzphQIDAQAB">
		<meta name="appid" type="hidden" content = "4aa7a2e1-8ecb-4c4e-8550-6a9a4adb90be">
		<title>注册</title>
	</head>
	<link rel="stylesheet" type="text/css" href="//staticcdn.yhctech.com/static/css/9a94e9f705a498511e5ca8d40e7793fbc7cffd80.css" />
	<link rel="stylesheet" type="text/css" href="//staticcdn.yhctech.com/static/css/f63f6a82bec261ec298779581a9b43767f1ec851.css" />
	<body>
		<div class="wrap">
			<div class="logo"></div>
			<div class="content">
				<ul>
					<li>
						<div class="warning_wrap">
							<p class="warning">名称格式不正确</p>
						</div>
						<div class="input_wrap">
							<img class="icon" src="//staticcdn.yhctech.com/static/img/c1b1bfdd6aa3d4cae30e317048e5df899d8a5096.png" />
							<input class="org_name" type="text" maxlength="11" placeholder="公司或组织名称" />
						</div>
						<span class="warning_img"></span>
					</li>
					<li>
						<div class="warning_wrap">
							<p class="warning">用户名格式不正确</p>
						</div>
						<div class="input_wrap">
							<img class="icon" src="//staticcdn.yhctech.com/static/img/946da14e0dfeeb620bb686edcb4c2065b7744f65.png" />
							<input class="username" type="text" maxlength="11" placeholder="用户名" />
						</div>
						<span class="warning_img"></span>
					</li>
					<li>
						<div class="warning_wrap">
							<p class="warning">密码长度8-20位,字母开头,包含数字</p>
						</div>
						<div class="input_wrap">
							<img class="icon" src="//staticcdn.yhctech.com/static/img/8c1f61687935995fc93321b8d1510ca90ba44550.png" />
							<input class="password" type="password" maxlength="20" placeholder="密码" />
						</div>
						<span class="warning_img"></span>
					</li>
					<li>
						<div class="warning_wrap">
							<p class="warning">密码输入不一致</p>
						</div>
						<div class="input_wrap">
							<img class="icon" src="//staticcdn.yhctech.com/static/img/8c1f61687935995fc93321b8d1510ca90ba44550.png" />
							<input class="password_repeat" type="password" maxlength="20" placeholder="确认密码" />
						</div>
						<span class="warning_img"></span>
					</li>
					<li>
						<div class="warning_wrap">
							<p class="warning">电话号码输入错误</p>
						</div>
						<div class="input_wrap">
							<img class="icon" src="//staticcdn.yhctech.com/static/img/66e86d9ba3f47bb66cf0d53549dec015517557cb.png" />
							<input class="phone" type="text" maxlength="11" placeholder="手机号" />
						</div>
						<span class="warning_img"></span>
					</li>
					<li>
						<div class="input_wrap code">
							<input class="verification_code" type="tel" maxlength="6" placeholder="验证码" />
						</div>
						<div class="input_wrap codebtn">
							获取验证码
						</div>
						<div class="codebtn codetime">
							<span>60</span>s
						</div>
						<div class="warning_wrap">
							<span class="warning_img code_warning_img"></span>
							<p class="warning code_warning">验证码错误</p>
						</div>
					</li>
				</ul>
				<div class="content_food">
					<input class="checkbox" type="checkbox" checked="checked" />
					<p class="text">
						我已阅读并接受
						<span>用户协议</span> 条款
					</p>
				</div>
			</div>
			<div class="btn confirm">

			</div>
			<img class="success" src="//staticcdn.yhctech.com/static/img/e632f37432c0d853c6568760f3cc42363f7656aa.png" />
			<div class="user_know" >
				<span class="close"></span>
				<div class="user_know_content">
					<p>小虫录播用户协议</p>
					<span>特别提示：<br>
                请您认真阅读并充分理解本《用户协议》全部内容.特别是免除或者限制萤火社群责任的免责条款以及对用户权利限制的条款。
                </span>

					<div class="arguement">
						1.“萤火社群”、“小虫直播”等为北京萤火虫科技有限公司注册商标，任何人未经北京萤火虫科技有限公司许可不得以任何形式擅自使用,本协议在法律允许范围内最终解释权归属北京萤火虫科技有限公司,萤火社群所有权、经营权、管理权均属北京萤火虫科技有限公司。<br><br> 2. 用户须严格遵守各项国家法律法规，如在内容传播中，审核人员发现违规内容，将立即中止服务，并不会退回相关费用。<br><br> 3. 用户充分理解并同意：“萤火社群”社群直播（也称多群直播）服务属于单次购买单次享有使用权，直播小助手会在当天系统清零后自动失效。<br><br> 4. “萤火社群”的服务时间为8:00-23:00，您的直播进行时间最晚不能超过凌晨1点（原则上为当天24:00），请合理安排好您的直播时间。<br><br> 5. 为了不影响直播正常进行，请确保直播前3小时拉群完毕（特别是晚上高峰直播时间调度排队时间会相对比较长）。<br><br> 6. 请您谨慎填写直播购买群数，购买群数多了我们无法退款（系统是通过单个订单来统一分配直播小助手资源的，退群会使资源闲置）。<br><br> 7. 多群直播收费规则：采取分类计价制。具体如下：“已有群+直播”为10元/群；“新建群+直播”为20元/群。<br><br> 8. 用户在使用“萤火社群”服务中发布的任何内容、信息等并不反映或代表“萤火社群”的观点、立场或政策，“萤火社群”对此不承担任何责任。<br><br> 9. 关于开发票：请联系“萤火社群”客服，未开票金额须累积≥10000元才能申请寄送票据，票据邮费由申请人自付。<br><br> 10. 关于直播问题反馈和相关投诉，由于平台的直播数据只保存直播结束当天24点，请在此之前联系“萤火社群”客服，过期不予处理，敬请周知。

					</div>

				</div>

			</div>
		</div>
	</body>
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="//staticcdn.yhctech.com/lib/js/passport_h5_add.js" type="text/javascript" charset="utf-8"></script>
	<script src="//staticcdn.yhctech.com/lib/js/passport_h5_jsencrypt.js" type="text/javascript" charset="utf-8"></script>
	<script src="//staticcdn.yhctech.com/static/js/bb6d295ff4d5a86eb2f92125e44e1a7094f9c358.js" type="text/javascript" charset="utf-8"></script>

</html>
